#dice-roller :root{
    --outputDice: 4em;
}

#dice-roller #new-roll,
#dice-roller #clear-all{
    display: block;
    font-size: var(--baseTextSize);
    padding: 0.6em;
    padding-right: 1em;
    margin: 0 auto;
    margin-bottom: 2em;
}

#dice-roller #new-roll:hover{
    color: var(--green3);
    cursor: pointer;
}

#dice-roller .box-holder{
    padding: 0;
}

#dice-roller .box{
    position: relative;
    width: 90%;
    max-width: 90%; 
}

#dice-roller input[type='text']{
    font-size: calc(var(--size2));
    width: 50%;
    text-align: center;
    font-family: var(--bodyFont);
    font-weight: bold;
    color: white;
    background-color: var(--green);
    margin: 0;
    border: 0;
}

#dice-roller input[type="text"]:focus-visible, #dice-roller input[type="text"]:hover{
    outline: white dashed 1px;
}

#dice-roller .remove-button{
    color: white;
    font-family: sans-serif;
    background-color: var(--green2);
    border-radius: var(--cardCorner);
    padding: 0.3em 0.9em;
    box-shadow: 0 0 5px .2px black;
    position: absolute;
    z-index: 3;
    left: 2em;
    top: 1em;
}

#dice-roller .remove-button:hover{
    color: black;
    cursor: pointer;
}

#dice-roller .input-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#dice-roller .input-box input{
    pointer-events: all;
}

#dice-roller .input-column{
    text-align: right;
}

#dice-roller .button-box{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 1em auto 1.5em;
}

#dice-roller .dice-button{
    width: 20%;
    background-color: var(--green);
    border-radius: var(--cardCorner);
    padding: 0.6em;
    box-shadow: 0 0 5px .2px b#dice-roller lack;
}

#dice-roller .dice-button:hover{
    color: var(--green3);
    cursor: pointer;
}

#dice-roller .apply-upgrades{
    width: 35%;
}

#dice-roller .card-banner{
    background-color: var(--green);
    width: 110%;
    position: relative;
    left: -5%;
    font-size: var(--size2);
    padding: 0.3em 0;
    margin: 0.3em;
}

#dice-roller .results-holder{
    display: flex;
    flex-wrap: wrap;
    min-height: 5em;
    background-color: var(--grey);
    margin: -0.5em -0.2em;
}

#dice-roller .results-holder .square-die{
    height: 4em;
    margin-top: auto;
    margin-bottom: auto;
}

#dice-roller .results-holder img{
    height: 5em;
    margin: 0.4em 0.7em;
}

#dice-roller .roll-box{
    display: block;
    margin-bottom: 2em;
}

#dice-roller #roll-template{
    display: none;
}

#dice-roller .output-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: 0.5em auto;
    min-height: var(--outputDice);
}

#dice-roller .output-element{
    padding: calc(var(--outputDice)/2 - 1em) 0;
    flex-basis: 25%;
    position: relative;
    display: flex;
    justify-content: center;
}

#dice-roller .output-element h4{
    position: relative;
    display: inline;
    vertical-align: middle ;
    z-index: 3;
}

#dice-roller .dice-holder{
    display: inline-block;
    position: relative;
    height: 100%;
    width: var(--outputDice);
}

#dice-roller .dice-holder img{
    position: absolute;
    height: var(--outputDice);
    right: 0;
    z-index: 2;
}

#dice-roller .dice-holder h4{
    position: absolute;
    text-align: center;
    line-height: 2.5em;
    height: 50%;
    width: 100%;
    right: 0;
    top: 0;
    margin: 0;
    font-size: var(--size2);
}

@media screen and (max-width: 768px){
    #dice-roller :root{
        --outputDice: 3.5em;
    }
    
    #dice-roller .button-box{
        width: 90%;
    }

    #dice-roller .output-element{
        flex-basis: 50%;
    }

    #dice-roller .remove-button{
        left: 0.6em;
        top: 0.6em;
    }

    #dice-roller input[type='text']{
        width: 50%;
        margin-left: 0.9em;
    }

    #dice-roller .dice-holder h4{
        line-height: 2.1em;
    }

    #dice-roller .results-holder{
        min-height: 4em;
    }
    
    #dice-roller .results-holder .square-die{
        height: 3em;
    }
    
    #dice-roller .results-holder img{
        height: 4em;
        margin: 0 0.4em;
    }
}