#roller-page #new-roll,
#roller-page #clear-all{
    display: block;
    font-size: var(--baseTextSize);
    padding: 0.6em;
    padding-right: 1em;
    margin: 0 auto;
    margin-bottom: 2em;
}

#roller-page #new-roll:hover{
    color: var(--green3);
    cursor: pointer;
}

#roller-page .box-holder{
    padding: 0;
}