:root{
    --silver: #C0C5C1;
    --grey: #8B94A3;

    --brown: #AB4D36;
    --sage: #C7CB85;
    --lightGreen: #7EA172;
    --green: #053B06;
    --green2: #0A710C;
    --green3: #43EF46;
    --blue: #39A9F9;
    --purple:#5A2768;
    --purple2: #9A43B1;
    --red: #660A00;
    --red2: #A31000;
    --yellow: #D7BF1D;
    --yellow2: #7E6F11;
    /* --silver: #C7CB85; */

    --headerFont: 'Quintessential', serif;
    --bodyFont: 'Merriweather', serif;
    --baseTextSize: 1.2rem;
    --size2: calc(1rem * 1.62);
    --size3: calc(var(--size2) * 1.62);
    --size4: calc(var(--size3) * 1.62);
    --smallFont: calc(var(--baseTextSize) / 1.62);
    --leftMargin: 1.17em;

    --cardCorner: 1.5em;

    --diceSize: 9vh;
}

header{
    display: flex; 
    align-items: center;
    justify-content: start;
    text-align: center;
    color: white;
    position: fixed;
    top: -100px;
    left: 0px;
    background-color: var(--green);
    margin: 0px auto;
    width: 100%;
    font-family: var(--headerFont);
    z-index: 10;
}

#HomeButton{
    color: white;
}

#HomeButton:hover{
    color: var(--green3);
}

body{
    width: 100%;
    background-color: var(--silver);
    font-family: var(--bodyFont);
    margin: 0;
}

main{
    width:100%;
    position: absolute;
    top: 100px;
    left: 0;
}

#page-title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: -9px auto 40px;
}

#page-title img{
    height: var(--diceSize);
    margin: 1%;
    position: relative;
}

#page-title .square-die {
    height: calc(var(--diceSize) * 0.75);
}

h2:has(+ #page-title){
    font-weight: bold;
    color: var(--green);
    font-size: var(--size4);
    text-shadow: 0 0 3px var(--green2);
    margin-bottom: 0;
    margin-top: 10px;
    z-index: 2;
    position: relative;
}

h1{
    color: white;
    font-weight: normal;
    font-size: var(--size2);
    background-color: var(--green);
    font-family: var(--headerFont);
    padding: 0 5px;
}

h2{
    font-size: var(--size3);
    font-family: var(--headerFont);
    margin: 0;
}

h3{
    font-size: var(--size2);
    font-family: var(--headerFont);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: var(--leftMargin);
    width: 100%;
    background-color: var(--green);
    color: white;
    padding: 1% 0;
}

h3{
    font-size: var(--size3);
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
}

.heading-band{
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
}

h4{
    font-size: calc(var(--baseTextSize));
}

#page-heading{
    /* min-width: var(--minScreenWidth); */
    /* margin: calc(var(--baseTextSize) * 4 + 28px ) auto 0 auto; */
    text-align: center;
    font-size: var(--size4);
    font-family: 'Quintessential', serif;
}

.box{
    display: inline-block;
    background-color: var(--green2);
    border: none;
    padding: 0.3em;
    padding-top: 0;
    color: white;
    border-radius: 12px;
    text-align: center;
    margin: 0 auto;
    font-size: var(--baseTextSize);
    max-width: 30%;
    overflow: hidden;
}

.box p, .box h4{
    pointer-events: none;
}

.box h4{
    font-weight: normal;
    font-family: var(--bodyFont);
}

.box p{
    font-size: var(--baseTextSize);
    font-family: var(--bodyFont);
}

.line{
    border-bottom: .2em var(--green) solid;
}

.box-header{
    background-color: var(--green);
    padding-bottom: 0.4em;
    padding-top: 0.4em;
    width: 150%;
    position: relative;
    left: -25%;
    font-size: var(--size2);
    margin-bottom: 0.4em;
    margin-top: 0;
}

.box-holder{
    display: flex;
    flex-direction: column;
    left: 0;
    margin: 0;
    padding: 1em;
}

.box-holder > p{
    display: block;
    font-size: var(--baseTextSize);
    margin: 1em 1.21em;
}

button{
    border: 0;
    color: white;
    font-family: var(--bodyFont);
}

button:hover{
    cursor: pointer;
    color: var(--green3);
}

.small-button{
    background-color: var(--green);
    border-radius: var(--cardCorner);
    padding: 0.5em 1em;
    box-shadow: 0 0 5px .2px black;
    font-size: var(--baseTextSize);
}

.spell-card{
    background-color: var(--green2);
    box-sizing: border-box;
    width: 90%;
    margin: 1% auto;
    padding: 1%;
    padding-top: 0;
    /* border: .2em var(--green) solid; */
    border-radius: var(--cardCorner);
    overflow: hidden;
    position: relative;
}

.card-element{
    margin: 5px;
    margin-top: 5px;
    background-color: var(--green2);
    color: white;
    font-size: var(--baseTextSize);
    font-weight: normal;
}

.card-line{
    border: .11em var(--green) solid;
    position: relative;
    width: 150%;
    left: -25%;
    margin: 10px;
}

.spell-name{
    position: relative;
    left: -25%;
    text-align: center;
    font-size: var(--size2);
    background-color: var(--green);
    width: 150%;
    left: -25%;
    margin: 0;
    padding: 1%;
}

ul{
    margin: 0;
}

ul h3{
    margin-left: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: var(--green);
}

select{
    font-size: var(--baseTextSize);
}

input{
    width: calc(var(--baseTextSize) * 2.5);
    vertical-align: 2px;
}

input[type='text'],
input[type="number"],
input[type="password"],
input[type="email"],
.checkbox,
.large-text-input{
    resize: none;
    display: inline;
    font-size: var(--baseTextSize);
    background-color: var(--green2);
    color: white;
    border: none;
    border-radius: 0.3rem;
    outline: white dashed 1px;
    font-family: var(--bodyFont);
    vertical-align: 0;
    padding: 0 0 0 0.4em;
}

.checkbox{
    padding: 0;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    align-items: center;
    font-size: calc(var(--baseTextSize) * 0.7);
    color: var(--green2);
}

.show-check{
    color: white;
}

.checkbox:hover{
    outline-color: var(--green3);
    color: var(--green2);
}

.show-check:hover{
    color: white;
}

.can-point{
    pointer-events: all;
}

footer{
    width: 90%;
    min-height: 100px;
}

.card{
    width: 90%;
    display: block;
    max-width: 90%;
    box-sizing: border-box;
}

select{
    border-radius: 0.3rem;
    background-color: var(--green2);
    color: white;
    outline: white dashed 1px;
    font-size: var(--baseTextSize);
    font-family: var(--bodyFont);
}

.popup{
    position: absolute;
    z-index: 6;
    top:0;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 3000px) {
    :root{
        --baseTextSize:1.75em;
    }

    main{
        top: 170px;
    }
}

@media screen and (max-width: 768px){
    :root{
        --baseTextSize: .7rem;
        --size2: calc(0.7rem * 1.62);
        --diceSize: 6vh;
    }

    main{
        top: 70px;
    }

    header{
        flex-direction: column;
        top: -70px;
    }

    #page-title{
        margin: -4px auto 30px;
    }

    .spell-card{
        width: 95%;
    }

    .dice-holder h4{
        line-height: 2.1em;
    }

    .output-element{
        flex-basis: 50%;
    }
}