.show-init-tracker{
    position: fixed;
    background-color: var(--green);
    border-radius: 50%;
    font-size: var(--baseTextSize);
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    left: 0.5rem;
    top: 5rem;
    z-index: 5;
    box-shadow: 0 0 5px .2px black;
}

.init-tracker{
    position: fixed;
    background-color: var(--green2);
    top: 5rem;
    width: 100%;
    max-width: 35rem;
    z-index: 5;
    box-shadow: 0 0 5px .2px black;
    border-radius: 0 var(--cardCorner) var(--cardCorner) 0;
}

.init-tracker div{
    width: 100%;
}

.init-tracker .small-button{
    padding: 0.2rem;
    width: 6rem;
    margin: 0.5rem 2.5rem 0.5rem 2.5rem;
}

.init-header{
    color: white;
    font-size: var(--baseTextSize);
    text-align: center;
    background-color: var(--green);
    border-radius: 0 var(--cardCorner) 0 0;
    padding: 0.3rem;
    width: 100%;
}

.init-tracker .init-entry{
    display: grid;
    grid-template-columns: 2.5rem 2.5rem 5rem 5rem 5rem 5rem 5rem;
    row-gap: 0.6rem;
    column-gap: 0.3rem;
    margin: 1rem;
    color: white;
}

.init-tracker .init-entry .close-button{
    grid-row: span 2;
    background-color: var(--green);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-family: sans-serif;
}

.init-tracker .init-entry input[type="text"]{
    grid-column: span 2;
    width: 100%;
}

.init-tracker .init-entry label{
    text-align: right;
}

.init-tracker .order-button{
    background-color: var(--green);
    padding: 0;
    margin: auto;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    font-size: var(--baseTextSize);
    font-family: sans-serif;
}