.monster-part-display{
    border-color: var(--green);
    border-style:solid;
    border-radius: 1rem;
    margin: 1rem;
}

.monster-part-display .part-name{
    font-size: var(--size2);
}

.monster-part-display .stat-block-section{
    margin-top: 0;
}

.monster-part-display .stat-numbers{
    flex-basis: 20%;
    display: flex;
}

.monster-part-display .stat-text{
    flex-basis: 80%;
    flex-shrink: 1;
    display: block;
    text-align: left;
    padding: 0.2em;
}

.monster-part-display .part-attacks{
    padding: 0 1rem;
}