.table{
    width: 85%;
    background-color: var(--green2);
    border-radius: 2em;
    margin: 2em auto;
    font-size: var(--baseTextSize);
    color: white;
    padding-bottom: 1em;
}

.table .table-header{
    background-color: var(--green);
    margin: 0;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    border-bottom: 2px solid black;
}

.table .table-explanation{
    padding: 1em;
    margin: 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.table-entry{
    display: flex;
    flex-wrap: wrap;
    color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.table-entry div{
    padding: 0.3em;
    flex-basis: 15%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: center;
}

.table-entry .column{
    flex-basis: 15%;
}

.table-entry .column-2{
    flex-shrink: 1;
}

.table-entry div p{
    flex-basis: 100%;
    margin: 0;
}

.table-entry:last-of-type{
    border-bottom: none;
}

.table-entry .table-label{
    flex-basis: 15%;
    margin: auto 0;
    font-size: var(--baseTextSize);
    display: block;
    text-align: center;
}

.table-entry .table-description{
    flex-basis: 35%;
    flex-grow: 1;
    display: block;
    align-content: center;
}


@media screen and (max-width: 768px){
    .table{
        width: 95%;
    }

    .table-entry .table-label{
        flex-basis: 100%;
    }

    .table-entry div{
        flex-basis: 50%;
        flex-grow: 1;
    }
} 