#monster-builder .attack-holder{
    display: flex;
    align-items: center;
    text-align: left;
}

#monster-builder .attack-holder .checkbox{
    margin: 0 1rem;
}

#monster-builder .attack-holder div{
    margin: 0.2rem 0.5rem;
}

#monster-builder .attack-holder .attack-name{
    flex-basis: 10rem;
}

#monster-builder .attack-holder .attack-stats-1{
    flex-basis: 15rem;
}

#monster-builder .attack-holder .attack-stats-2{
    flex-basis: 10rem;
}