.part-stats{
    display: grid;
    grid-template-columns: 16.7% 16.7% 16.7% 16.7% 16.7% 16.7%;
    /* grid-template-columns: 30% 30% 30%; */
    text-align: right;
    row-gap: 1rem;
    margin: 1rem 1rem 1rem 0.2rem;
    align-items: center;
    padding: 0 0.5rem;
}

.monster-part .part-name{
    display: flex;
    grid-column: 1 / 3;
}

.monster-part label{
    grid-column: 1 / 2;
    text-align: left;
}

.part-stats .full-width-input{
    grid-column: 2 / 7;
    text-align: left;
    width: 90%;
    margin-left: 1rem;
}

.monster-part .special-features-label{
    text-align: right;
}

.monster-part .part-res-weak-imm{
    grid-column: 1 / 6;
}