:root{
    --outputDice: 4em;
}

#new-roll{
    display: block;
    font-size: var(--baseTextSize);
    padding: 0.6em;
    padding-right: 1em;
    margin: 0 auto;
}

#new-roll:hover{
    color: var(--green3);
    cursor: pointer;
}

.box-holder{
    padding: 0;
}

.box{
    position: relative;
    width: 90%;
    max-width: 90%; 
}

input[type='text']{
    font-size: calc(var(--size2));
    width: 50%;
    text-align: center;
    font-family: var(--bodyFont);
    font-weight: bold;
    color: white;
    background-color: var(--green);
    margin: 0;
    border: 0;
}

input[type="text"]:focus-visible, input[type="text"]:hover{
    outline: white dashed 1px;
}

.remove-button{
    color: white;
    font-family: sans-serif;
    background-color: var(--green2);
    border-radius: var(--cardCorner);
    padding: 0.3em 0.9em;
    box-shadow: 0 0 5px .2px black;
    position: absolute;
    z-index: 3;
    left: 2em;
    top: 1em;
}

.remove-button:hover{
    color: black;
    cursor: pointer;
}

.input-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.input-box input{
    pointer-events: all;
}

.input-column{
    text-align: right;
}

.button-box{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 1em auto 1.5em;
}

.dice-button{
    width: 20%;
    background-color: var(--green);
    border-radius: var(--cardCorner);
    padding: 0.6em;
    box-shadow: 0 0 5px .2px black;
}

.dice-button:hover{
    color: var(--green3);
    cursor: pointer;
}

.apply-upgrades{
    width: 35%;
}

.card-banner{
    background-color: var(--green);
    width: 110%;
    position: relative;
    left: -5%;
    font-size: var(--size2);
    padding: 0.3em 0;
    margin: 0.3em;
}

.roll-box{
    display: block;
    margin-bottom: 2em;
}

#roll-template{
    display: none;
}

.output-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: 0.5em auto;
    min-height: var(--outputDice);
}

.output-element{
    padding: calc(var(--outputDice)/2 - 1em) 0;
    flex-basis: 25%;
    position: relative;
    display: flex;
    justify-content: center;
}

.output-element h4{
    position: relative;
    display: inline;
    vertical-align: middle ;
    z-index: 3;
}

.dice-holder{
    display: inline-block;
    position: relative;
    height: 100%;
    width: var(--outputDice);
}

.dice-holder img{
    position: absolute;
    height: var(--outputDice);
    right: 0;
    z-index: 2;
}

.dice-holder h4{
    position: absolute;
    text-align: center;
    line-height: 2.5em;
    height: 50%;
    width: 100%;
    right: 0;
    top: 0;
    margin: 0;
    font-size: var(--size2);
}

@media screen and (max-width: 768px){
    :root{
        --outputDice: 3.5em;
    }
    
    .button-box{
        width: 90%;
    }

    .output-element{
        flex-basis: 50%;
    }

    .remove-button{
        left: 0.6em;
        top: 0.6em;
    }

    input[type='text']{
        width: 50%;
        margin-left: 0.9em;
    }

    .dice-holder h4{
        line-height: 2.1em;
    }
}