header{
    position: absolute;
    display: block;
    text-align: center;
}

main{
    width:100%;
}

main > section{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 90%;
    flex-wrap: wrap;
}

h3::after{
    border: 0;
}

@media screen and (max-width: 768px){
    #classes{
        flex-direction: column;
    }
}