header{
    position: absolute;
    display: block;
    text-align: center;
}

main{
    width:100%;
}

#classes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
}

#equipment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px){
    #classes{
        flex-direction: column;
    }
}