*{
    scroll-padding-top: 5em;
}

#effects-table{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.tier-heading{
    min-width: var(--minScreenWidth);
    margin: var(--baseTextSize) auto var(--baseTextSize) auto;
    text-align: center;
    font-size: var(--size3);
    font-family: 'Quintessential', serif;
}
