header{
    position: absolute;
}

input{
    width: calc(var(--baseTextSize) * 2);
    vertical-align: 2px;
}

input[type='text']{
    font-size: calc(var(--baseTextSize) * 0.6);
}

.small-button{
    padding: 0.6em;
}

#clear-effects{
    margin-top: 1em;
}

.selected{
    background-color: var(--red);
    border-color: var(--blue);
}

h3{
    margin-bottom: 0;
}

main > p{
    margin: 1em 2.17em;
    font-size: var(--baseTextSize);
}

#targeting-box{
    flex-direction: row;
}

#add-effect{
    display: block;
}

#spell-selection{
    display: none;
    width: 90%;
    max-width: 90%;
    justify-content: space-between;
}

#spell-selection *{
    font-weight: normal;
}

#spell-selection ul{
    padding: 0.2em;
}

#spell-selection ul h3{
    border-bottom: .1em var(--red) solid;
    font-size: var(--baseTextSize);
}

#spell-selection ul h3::after{
    width: 0%;
}

.list-spacer{
    display: none;
}

.menu-option{
    font-size: calc(var(--baseTextSize) * 0.7);
}

.menu-option:hover{
    cursor: pointer;
    color: black;
}

.spell-effect{
    width: 80%;
    max-width: 80%;
    margin: 1em auto;
    text-align: left;
    position: relative;
}

.effect-name{
    font-size: var(--size2);
    text-align: center;
}

.remove-effect{
    position: absolute;
    top: 0.4em;
    left: 0.5em;
}

.can-point{
    pointer-events: all;
}

.description{
    font-size: var(--baseTextSize);
}

#custom-modifiers{
    width: 80%;
    max-width: 80%;
    padding: 1em 0;
    margin-bottom: 1em;
}

#pool-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#pool-box input{
    pointer-events: all;
}

.pool-column{
    text-align: right;
}

#clear-custom{
    margin-top: 0.5em;
    padding: 0.3em;
}

#output{
    width: 80%;
    max-width: 80%;
    padding: 1em 0;
    margin-top: 1em;
}

footer{
    min-height: 100px;
}

@media screen and (max-width: 768px){
    h3{
        font-size: var(--size2);
    }

    .box-holder{
        border-top: 0.2em black solid;
    }

    .box{
        max-width: 90%;
    }

    #targeting-box{
        flex-direction: column;
    }

    #targeting-box .box{
        margin: 0.3em auto;
    }

    #spell-selection{
        flex-direction: column;
    }

    #spell-selection ul li{
        display: inline;
    }

    .list-spacer{
        display: inline;
        margin: 0 0.1em;
    }

    .spell-effect{
        max-width: 90%;
        width: 90%;
        margin: 0.5em auto;
    }

    .remove-effect{
        font-size: calc(var(--baseTextSize) * .7);
    }
}