.box{
    display: inline-block;
    background-color: var(--blue);
    border: 4px var(--red) solid;
    padding: 0.2em;
    color: white;
    border-radius: 12px;
    text-align: center;
    margin: 0 auto;
    font-size: var(--baseTextSize);
    max-width: 30%;
}

.box p, .box h4{
    pointer-events: none;
}

.box h4{
    font-weight: normal;
    margin: 0;
    font-family: var(--bodyFont);
}

.box p{
    font-size: calc(var(--baseTextSize) * 0.8);
    font-family: var(--bodyFont);
}

.box-holder{
    display: flex;
    flex-direction: column;
    left: 0;
    border-top: 5px black solid;
    margin: 0;
    padding: 1em;
}

.box-holder > p{
    display: block;
    font-size: var(--baseTextSize);
    margin: 1em 1.21em;
}

.small-button{
    padding: 0.6em;
}

.selected{
    background-color: var(--red);
    border-color: var(--blue);
}

h3{
    margin-bottom: 0;
}

main > p{
    margin: 1em 2.17em;
    font-size: var(--baseTextSize);
}

#targeting-box{
    flex-direction: row;
}

#add-effect{
    display: block;
}

#spell-selection{
    display: none;
    width: 90%;
    max-width: 90%;
    justify-content: space-between;
}

#spell-selection *{
    font-weight: normal;
}

.menu-option{
    font-size: calc(var(--baseTextSize) * 0.7);
}

.menu-option:hover{
    cursor: pointer;
    color: black;
}

#spell-selection ul h3{
    border-bottom: .1em var(--red) solid;
    font-size: calc(var(--baseTextSize) * 1.3);
}

.spell-effect{
    width: 80%;
    max-width: 80%;
    margin: 1em auto;
    text-align: left;
    position: relative;
}

.effect-name{
    font-size: calc(var(--baseTextSize) * 1.2);
    text-align: center;
}

.remove-effect{
    position: absolute;
    top: 0.4em;
    left: 0.5em;
}

.can-point{
    pointer-events: all;
}

.line{
    border-bottom: .2em var(--red) solid;
}

.description{
    font-size: calc(var(--baseTextSize) * 1);
}

#pool-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pool-column{
    text-align: right;
}

.flex-break{
    break-after: always;
}

footer{
    min-height: 100px;
}