#effects-table{
    margin-top: 20px;
    /* display: grid; */
    /* grid-template-columns: auto auto auto auto 50%; */
    /* border: black 2px solid; */
    /* background-color: var(--red); */
    display: flex;
    flex-direction: column;
}

.spell-card{
    background-color: var(--blue);
    width: 80%;
    margin: 1% auto;
    padding: 1%;
}

.card-element{
    margin: 5px;
    background-color: var(--blue);
    color: white;
    font-size: calc(var(--baseTextSize) * 0.9);
}

.card-line{
    border: 1px white solid;
    width: 100%;
    margin: 0;
}

.name{
    text-align: center;
    font-size: calc(var(--baseTextSize) * 1.2);
}

.tier-heading{
    min-width: var(--minScreenWidth);
    margin: 0 auto 0 auto;
    text-align: center;
    font-size: calc(var(--baseTextSize) * 2);
    font-family: 'Quintessential', serif;
    border-bottom: 5px black solid;
    width: 100%;
}