:root{
    --green2: #2f578e;
    --silver: #C0C5C1;
    --grey: #8B94A3;

    --brown: #AB4D36;
    --lightGreen: #7EA172;
    --green: #053B06;
    --green2: #0A710C;
    --green3: #43EF46;
    --sage: #C7CB85;
    /* --silver: #C7CB85; */

    --headerFont: 'Quintessential', serif;
    --bodyFont: 'Merriweather', serif;
    --baseTextSize: 16px;
    --size2: calc(var(--baseTextSize) * 1.62);
    --size3: calc(var(--size2) * 1.62);
    --size4: calc(var(--size3) * 1.62);
    --smallFont: calc(var(--baseTextSize) / 1.62);
    --leftMargin: 1.17em;

    --cardCorner: 1.5em;
}

header{
    display: flex; 
    align-items: center;
    justify-content: start;
    text-align: center;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--green);
    margin: 0px auto;
    width: 100%;
    font-family: var(--headerFont);
    z-index: 10;
}

#HomeButton{
    color: white;
}

#HomeButton:hover{
    color: var(--green3);
}

.nav-bar{
    color: white;
    flex: 1;
    text-align: center;
    flex-basis: auto;
    font-family: var(--bodyFont);
    font-size: var(--baseTextSize);
    padding: 0 1%;
}

.nav-bar:hover{
    color: var(--green3);
    cursor: pointer;
}

#nav-spacer{
    flex: 100;
}

#nav-hide{
    display: none;
    flex: none;
    position: absolute;
    left: 5%;
    top: calc(var(--baseTextSize) * 1.3);
}

.hidden{
    display: flex;
}

body{
    width: 100%;
    background-color: var(--silver);
    font-family: var(--bodyFont);
}

main{
    width:100%;
    position: absolute;
    top: 100px;
    left: 0;
}

h1{
    color: white;
    font-weight: normal;
    font-size: var(--size2);
    background-color: var(--green);
    font-family: var(--headerFont);
    padding: 0 5px;
}

h2{
    font-size: var(--size3);
    font-family: var(--headerFont);
    margin: 0;
}

h3{
    font-size: var(--size2);
    font-family: var(--headerFont);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: var(--leftMargin);
    width: 100%;
    background-color: var(--green);
    color: white;
    padding: 1% 0;
}

h4{
    font-size: var(--baseTextSize);
}

#page-heading{
    min-width: var(--minScreenWidth);
    /* margin: calc(var(--baseTextSize) * 4 + 28px ) auto 0 auto; */
    text-align: center;
    font-size: var(--size4);
    font-family: 'Quintessential', serif;
}

.box{
    display: inline-block;
    background-color: var(--green2);
    border: none;
    padding: 0.2em;
    padding-top: 0;
    color: white;
    border-radius: 12px;
    text-align: center;
    margin: 0 auto;
    font-size: var(--baseTextSize);
    max-width: 30%;
    overflow: hidden;
}

.box p, .box h4{
    pointer-events: none;
}

.box h4{
    font-weight: normal;
    font-family: var(--bodyFont);
}

.box p{
    font-size: var(--baseTextSize);
    font-family: var(--bodyFont);
}

.line{
    border-bottom: .2em var(--green) solid;
}

.box-header{
    background-color: var(--green);
    padding-bottom: 0.4em;
    padding-top: 0.4em;
    width: 150%;
    position: relative;
    left: -25%;
    font-size: var(--size2);
    margin-bottom: 0.4em;
    margin-top: 0;
}

.box-holder{
    display: flex;
    flex-direction: column;
    left: 0;
    margin: 0;
    padding: 1em;
}

.box-holder > p{
    display: block;
    font-size: var(--baseTextSize);
    margin: 1em 1.21em;
}

.small-button{
    padding: 0.6em;
    box-shadow: 0 0 5px .2px black;
}

.spell-card{
    background-color: var(--green2);
    width: 80%;
    margin: 1% auto;
    padding: 1%;
    padding-top: 0;
    /* border: .2em var(--green) solid; */
    border-radius: var(--cardCorner);
    overflow: hidden;
    position: relative;
}

.card-element{
    margin: 5px;
    margin-top: 5px;
    background-color: var(--green2);
    color: white;
    font-size: var(--baseTextSize);
    font-weight: normal;
}

.card-line{
    border: .11em var(--green) solid;
    position: relative;
    width: 150%;
    left: -25%;
    margin: 10px;
}

.spell-name{
    position: relative;
    left: -25%;
    text-align: center;
    font-size: var(--size2);
    background-color: var(--green);
    width: 150%;
    left: -25%;
    margin: 0;
    padding: 1%;
}


ul{
    margin: 0;
}

ul h3{
    margin-left: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: var(--green);
}

footer{
    min-height: 100px;
}

@media screen and (min-width: 3000px) {
    :root{
        --baseTextSize:1.75em;
    }

    main{
        top: 170px;
    }
}

@media screen and (max-width: 1200px) {
    :root{
        --baseTextSize: 15px;
    }
}

@media screen and (max-width: 768px){
    :root{
        --baseTextSize: 12px;
    }

    main{
        top: 70px;
    }

    header{
        flex-direction: column;
    }

    .nav-bar{
        /* display: none; */
        padding: 1%;
        text-align: left;
    }

    #nav-hide{
        display: block;
    }

    .hidden{
        display: none;
    }

    #page-heading::after{
        width: 0;
    }

    .spell-card{
        width: 95%;
    }
}