*{
    background-color: rgb(139, 107, 79);
}

header{
    text-align: center;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    margin: 0px auto;
    min-width: 510px;
    width: 100%;
}

main{
    position: absolute;
    top: 100px;
}

h1{
    font-size: 32px;
    background-color: rgba(240, 248, 255, 0);
}

#HomeButton{
    position: absolute;
    top: 25px;
    left: 15px;
    background-color: black;
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    h1{
        font-size: 27px;
    }
    
    #HomeButton{
        top: 17px;
        font-size: 17px;
    }
}

@media screen and (max-width: 768px){
    h1{
        font-size: 20px;
    }
    
    #HomeButton{
        top: 13px;
        font-size: 15px;
    }
}