:root{
    --borderSize: 4px;
    --paddingSize: 10px;
    --talentSize: calc(var(--baseTextSize) * 2 + var(--borderSize) + var(--paddingSize));
    --roundedCorners: 10px;
    --tableBorder: black;
    --minScreenWidth: 510px;
}

header{
    position: absolute;
}

h3{
    text-align: center;
    font-size: var(--size3);
    margin-left: 0;
}

h3::after{
    width: 40%;
    left: 30%;
}

#class-name{
    /* margin: calc(var(--talentSize) *2) auto 0 auto; */
    text-align: center;
    font-size: var(--size4);
    font-family: 'Quintessential', serif;
}

#tree-holder{
    display: block;
    margin: 0 auto;
}

#talent-tree{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 3% 1%;
    width: 99.25%;
    height: calc(var(--talentSize) * 10);
    /* flex-direction: column; */
    margin: calc(var(--talentSize)/2) 0;
    padding-left: .75%;
}

.talent{
    display: inline-grid;
    background-color: var(--blue);
    color: white;
    border: var(--borderSize);
    border-style: solid;
    border-color: var(--red);
    border-radius: var(--roundedCorners);
    padding: var(--paddingSize);  
    /* font-size: var(--baseTextSize); */
    font-size: 0.75em;
    font-weight: normal;
    text-wrap: wrap;
    word-wrap: break-word;
    word-break: break-word;
    text-align: center;
    vertical-align: middle;
    position: relative;
    height: var(--talentSize);
}

.talent:focus, .talent:hover{
    border-color: black;
}

.talent:focus::after, .talent:hover::after{
    content: attr(data-content);
    display: inline;
    position: absolute;
    top: 100%;
    left: calc(var(--borderSize) * -1);
    font-size: var(--baseTextSize);
    background-color: var(--silver);;
    border: 4px;
    border-style: solid;
    border-color: black;
    color: black;
    width: 100%;
    z-index: 2;
}

.spell{
    width: 80%;
    max-width: 80%;
    margin: 1em auto;
    text-align: left;
    position: relative;
}

.spell-name{
    font-size: var(--size2);
    text-align: center;
}

#talent-grid{
    display: grid;
    width: 90%;
    margin: 2em auto 0 auto;
    grid-template-columns: 30% auto;
    border: 2px solid var(--tableBorder);
    border-radius: 12px;
}

#talent-grid div{
    background-color: var(--silver);
    color: black;
    padding: 10px;
    font-size: var(--baseTextSize);
    word-wrap: break-word;
    word-break: break-word;
}

#talent-grid :nth-child(1){
    border-radius: var(--roundedCorners) 0 0 0;
}

#talent-grid :nth-child(2){
    border-radius: 0 var(--roundedCorners) 0 0;
}

#talent-grid :nth-child(39){
    border-radius: 0 0 0 var(--roundedCorners);
}

#talent-grid :nth-child(40){
    border-radius: 0 0 var(--roundedCorners) 0;
}

.table-talent{
    border: 2px solid var(--tableBorder);
    text-wrap: wrap;
}

.table-description{
    border: 2px solid var(--tableBorder);
}

@media screen and (max-width: 768px){

    .talent{
        font-size: calc(var(--baseTextSize) * 0.7) ;
    }

    #talent-grid div{
        font-size: calc(var(--baseTextSize) * 0.7) ;
    }
}