.table{
    width: 85%;
    background-color: var(--green2);
    border-radius: 2em;
    margin: 2em auto;
    font-size: var(--baseTextSize);
    color: white;
}

.table-header{
    background-color: var(--green);
    margin: 0;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    border-bottom: 2px solid black;
}

.weapon{
    display: flex;
    color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}


.weapon div{
    padding: 0.7em;
    flex-basis: 20%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.weapon .weapon-name{
    flex-basis: 15%;
    margin: auto 0;
    font-size: var(--baseTextSize);
    display: block;
    text-align: center;
}


.weapon .Properties{
    flex-basis: 45%;
    display: block;
}

.weapon div p{
    flex-basis: 100%;
    margin: 0;
}

.weapon:last-of-type{
    border-bottom: none;
}

.property-entry{
    color: white;
    display: flex;
    box-sizing: border-box;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0.7em 0;
}

.property-entry:last-of-type{
    border-bottom: none;
}

.property-entry div{
    padding: 0 1em;
}

.property-name{
    flex-basis: 15%;
    margin-left: 2em;
}

.property-description{
    flex-basis: 85%;
}

#modifications-table p{
    padding: 0 2em;
}

#modifications-table .table-header{
    border: none;
}

#weapon-table-template{
    display: none;
}

#weapon-template{
    display: none;
}

#property-template{
    display: none;
}

@media screen and (max-width: 768px){
    .table{
        width: 95%;
    }

    .weapon{
        flex-wrap: wrap;
    }

    .weapon div{
        padding: 0.7em;
        flex-basis: 50%;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }

    .weapon .weapon-name{
        flex-basis: 100%;
        width: 100%;
        font-size: var(--size2);
    }

    .weapon .Properties{
        flex-basis: 100%;
    }

    .property-entry{
        flex-direction: column;
    }

    .property-name{
        margin: 0;
        text-align: center;
        font-size: var(--size2);
    }
}