.table{
    width: 85%;
    background-color: var(--green2);
    border-radius: 2em;
    margin: 2em auto;
    font-size: var(--baseTextSize);
    color: white;
    padding-bottom: 1em;
}

.table-header{
    background-color: var(--green);
    margin: 0;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    border-bottom: 2px solid black;
}

.weapon{
    display: flex;
    color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}


.weapon div{
    padding: 0.7em;
    flex-basis: 20%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.weapon .weapon-name{
    flex-basis: 15%;
    margin: auto 0;
    font-size: var(--baseTextSize);
    display: block;
    text-align: center;
}


.weapon .Properties{
    flex-basis: 45%;
    display: block;
}

.weapon div p{
    flex-basis: 100%;
    margin: 0;
}

.weapon:last-of-type{
    border-bottom: none;
}

.property-entry{
    color: white;
    display: flex;
    box-sizing: border-box;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0.7em 0;
}

.property-entry:last-of-type,
.masterwork-entry:last-of-type{
    border-bottom: none;
}

.property-entry div{
    padding: 0 1em;
}

.property-name{
    flex-basis: 15%;
    margin-left: 2em;
}

.property-description{
    flex-basis: 85%;
}

.table p{
    padding: 0 2em;
}

.mod-header,
.mod-part,
.masterwork-entry{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2em;
    margin: 0.5em 0;
}

.mod-header > div:first-child,
.part-label{
    flex-basis: 25%;
    text-align: center;
    margin: auto 0;
}

.mod-header > div:nth-child(2),
.mod-descriptions{
    flex-basis: 75%;
}

.mod-part,
.masterwork-entry{
    border-top: 4px solid black;
}

#modifications-table .table-header,
#masterwork-table .table-header{
    border: none;
}

.masterwork-entry{
    padding-left: 5%;
}

.masterwork-entry div{
    margin: 1em 0;
}

.masterwork-name{
    flex-basis: 15%;
    text-align: center;
}

.masterwork-parts{
    flex-basis: 10%;
    text-align: center;
}

.masterwork-description{
    flex-basis: 68%;
    padding-left: 2%;
}

#weapon-table-template,
#weapon-template,
#property-template,
#mod-part-template,
#masterwork-template{
    display: none;
}


@media screen and (max-width: 768px){
    .table{
        width: 95%;
    }

    .weapon{
        flex-wrap: wrap;
    }

    .weapon div{
        padding: 0.7em;
        flex-basis: 50%;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }

    .weapon .weapon-name{
        flex-basis: 100%;
        width: 100%;
        font-size: var(--size2);
    }

    .weapon .Properties{
        flex-basis: 100%;
    }

    .property-entry{
        flex-direction: column;
    }

    .property-name{
        margin: 0;
        text-align: center;
        font-size: var(--size2);
    }

    .masterwork-name{
        flex-basis: 40%;
        text-align: left;
    }
    
    .masterwork-parts{
        flex-basis: 50%;
        text-align: left;
    }
    
    .masterwork-entry .masterwork-description{
        flex-basis: 100%;
        padding-left: 0;
        margin: 0;
    }
}