.tooltip-text:hover,
.tooltip-text:active{
    color: black;
    cursor: pointer;
    position: relative;
}

.tooltip-text .tooltip{
    display: none;
    position: absolute;
}

.tooltip-link{
    text-decoration: underline;
    font-size: var(--baseTextSize);
    padding: 0.3rem;
}

.tooltip-link:hover,
.tooltip-text:active{
    color: var(--green2);
}

.tooltip-text:hover .tooltip,
.tooltip-text:active .tooltip{
    display: inline;
    top: 1.3rem;
    left: calc(-10rem + 50%);
    box-sizing: border-box;
    font-size: var(--baseTextSize);
    background-color: var(--silver);
    color: black;
    width: 20rem;
    z-index: 2;
    padding: 0.3rem;
    border-radius: 5px;
    box-shadow: 0 0px 5px 0.05px black;
}

@media screen and (max-width: 768px){
    .tooltip-text:hover .tooltip,
    .tooltip-text:active .tooltip{
        width: 10rem;
        top: 0.9rem;
        left:calc(-5rem + 50%)
    }
}